

<h3>Checkout</h3>

<hr class="spacingLine-light" />

<div class="form-group">
    <label for="iban">IBAN:</label>
    <input type="text" class="form-control" id="iban" required>
</div>

<br />

<div class="form-group">
    <label for="owner">Kartenbesitzer*in:</label>
    <input type="text" class="form-control" id="owner" required>
</div>

<br />

<div class="form-group">
    <label for="expireDate">Ablaufdatum:</label>
    <input type="date" class="form-control" id="expireDate" required>
</div>

<br />

<div class="form-group">
    <label for="securityNumber">Sicherheitsnummer:</label>
    <input type="number" class="form-control" id="securityNumber" max="999" required>
</div>

<br />

<button id="checkout" type="submit" class="btn btn-primary">Bezahlen</button>
