.blockProfile {
    width: 90vw;
    height: auto;
}

.linkThicc, .linkTransparent {
    margin-right: 3%;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.linkTransparent {
    opacity: 60%;
    font-size: 1.2rem;
}

.datablock {
    padding-bottom: 20px;
}

.spacingDiv {
        height: 3vh;
        max-height: 63px;
    }

 .datablock > input {
    float: right;
 }
 /*für Textblöcke in Userview > Meine Buchungen*/
    .noTextareaOverlap {
        display: block;
        clear: both;
       
    }

.outputFields {
    background-color: #93B1A6;
    border-radius: 5px/ 5px;
    outline: none;
    border: none;
    width: 60vw;
}

.outputFields_Booking {
    background-color: #93B1A6;
    border-radius: 5px/ 5px;
    outline: none;
    border: none;
    width: 50vw;
}

.textareaWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.blockBgLight {
    background-color: rgba(92, 131, 116, 0.7);
    margin: 2%;
    padding: 20px;
    border: 3px solid #93B1A6;
    border-radius: 10px/ 10px;
}

/*Tablet < Laptop*/
@media (max-width: 950px) {
    .textareaWrapper {
        width: 100%;
        display: block;
    }

    .blockBgLight {
        display: grid;
    }
}

/* < Mobile L*/
@media (max-width: 425px) {
    .outputFields {
        max-width: 60%
    }

    .datablock {
        display: grid
    }
}
