@import "accStyle.css";

@font-face {
    font-family: 'Arimo-Bold';
    src: url('fonts/arimo/Arimo-Bold.eot');
    src: url('fonts/arimo/Arimo-Bold.woff2') format('woff2'), url('fonts/arimo/Arimo-Bold.woff') format('woff'), url('fonts/arimo/Arimo-Bold.ttf') format('truetype');
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

hr {
    border: 1px solid #93B1A6;
}

.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0) 100%) !important; /* Anpassen für gewünschte Farbe und Transparenz */
    border-bottom: none !important; /* Entfernt den unteren Rand, falls vorhanden */
    backdrop-filter: blur(10px);
    color: white;
}

.nav-link {
    margin: 5px;
    padding: 0px;
}

#searchBtn {
    margin-left: 0.5rem;
    color: white;
    background-color: #0F4C4C;
}

    #searchBtn:hover {
        background-color: #125D5D;
        border-color: #125D5D;
    }

.btn-outline-warning {
    background-color: #5C0E0E;
    border-color: #FF0000;
    color: #FF5733;
}

    .btn-outline-warning:hover {
        background-color: #8B0000;
        color: #FF5733;
        border-color: #FF0000;
    }

.btn-outline-buyer {
    background-color: #040D12;
    border: 1px solid #93B1A6;
    color: #93B1A6;
}

    .btn-outline-buyer:hover {
        background-color: #040D12;
        color: #AEC8BD;
        border-color: #AEC8BD;
    }

.btn-outline-admin {
    background-color: #040D12;
    border: 1px solid #FF5733;
    color: #FF5733;
}

    .btn-outline-admin:hover {
        background-color: #040D12;
        border-color: #FF7F50;
        color: #FF7F50;
    }

.btn-outline-seller {
    background-color: #040D12;
    border: 1px solid #FF7F50;
    color: #FF7F50;
}

    .btn-outline-seller:hover {
        background-color: #040D12;
        border-color: #FFA07A;
        color: #FFA07A;
    }

    .btn-outline-seller:focus,
    .btn-outline-seller:active {
        border-color: #FF7F50;
        outline: none;
    }

.btn:focus,
.btn:active {
    box-shadow: none !important;
}

.btn-link {
    text-decoration: none;
    outline: none; /* Um den blauen Fokus-Rahmen in einigen Browsern zu entfernen */
}

body {
    display: flex;
    flex-direction: column; /* Stapelt die Inhalte vertikal */
    justify-content: center;
    margin-bottom: 60px;
    background-color: black;
    background-image: url("/images/background.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arimo-Bold, Arial, sans-serif !important;
}

.roundEdges {
    color: white;
    border: 1px solid #93B1A6;
    max-width: 80%;
    min-width: 40%;
    height: auto;
    background-color: rgba(24, 61, 61, 0.6); /* Farbe mit Alpha-Wert für Transparenz */
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-backdrop-filter: blur(10px); /* Für Safari-Browser */
}

.roundEdgesLogin {
    color: white;
    border: 1px solid #93B1A6;
    width: 30%;
    height: auto;
    background-color: rgba(24, 61, 61, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    -webkit-backdrop-filter: blur(10px);
}

.roundEdgesSmall {
    color: white;
    border: 1px solid #93B1A6;
    min-width: 40%;
    max-width: 95%;
    height: auto;
    background-color: rgba(24, 61, 61, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: auto;
    -webkit-backdrop-filter: blur(10px);
}

.roundEdges input,
.roundEdges textarea,
.roundEdges select {
    background-color: #93B1A6; /* Hintergrundfarbe für Input- und Textfelder */
    color: black; /* Schriftfarbe innerhalb der Inputfelder Schwarz */
}

    .roundEdges input::placeholder,
    .roundEdges textarea::placeholder {
        color: black; /* Farbe des Platzhaltertextes Schwarz */
        opacity: 1; /* Stellt sicher, dass der Platzhalter vollständig sichtbar ist */
    }

.form-control {
    background-color: #93B1A6;
    color: white;
    border-color: white;
    transition: background-color 0.5s ease, border-color 0.5s ease, box-shadow 0.5s ease; /* Übergangseffekt */
}

    .form-control:focus {
        background-color: white;
        border-color: black;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Setzt den Schatten um das Element (Bootstrap-Stil für Fokus) */
    }



.btn-outline-primary {
    color: white;
    border-color: #183D3D;
    background-color: #183D3D;
}

    .btn-outline-primary:hover {
        color: white;
        background-color: #125D5D;
        border-color: #125D5D;
    }

.btn-primary {
    color: white;
    border: none;
    background-color: rgb(92, 131, 116, 70%);
}

    .btn-primary:hover {
        color: white;
        border: none;
        background-color: #125D5D;
        border-color: #93B1A6;
  
    }

.btn-success {
    color: white;
    border: none;
    background-color: #1B7932;
}

    .btn-success:hover {
        color: white;
        background-color: #2E8E3F;
    }

.card {
    margin: auto;
    background-color: rgba(4, 21, 21, 0.6);
    border-color: rgba(4, 21, 21);
}

.carousel-item {
    float: left;
}

    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: flex;
        justify-content: space-evenly;
    }

.table {
    color: white;
}

.event-list {
    list-style: none;
    padding: 0;
}

.event-item {
    background-color: rgba(4, 21, 21, 0.6);
    border: 1px solid #93B1A6;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .event-item:hover {
        background-color: rgba(4, 21, 21, 0.9);
        transform: scale(1.01);
    }

.event-link {
    text-decoration: none;
    color: white;
    display: block;
}

    .event-link:hover {
        color: white;
    }

.event-content {
    display: flex;
    flex-direction: column;
}

.event-title {
    font-size: 1.25em;
    color: white;
    font-weight: bold;
}

.event-description {
    font-style: italic;
}

.event-description,
.event-price,
.event-tickets,
.event-date {
    margin: 5px 0;
    /*font-size: 1em;*/
    color: white;
}
