<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventManagmentSystem.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mr-auto">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <p class="bungee-shade-regular">Eventopia</p>
                        </a>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (Context.Session.GetString("UserID") != null)
                        {
                            @if (Context.Session.GetString("UserRole").Equals("Seller"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Event" asp-action="EventCreate">Event erstellen</a>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Event" asp-action="EventOverview">Event-Übersicht</a>
                        </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0 d-flex w-50">
                        <input class="form-control flex-grow-1 mr-2" type="search" placeholder="Suchen.." aria-label="Suche">
                        <button class="btn my-2 my-sm-0" id="searchBtn" type="submit">Suchen</button>
                    </form>

                    <div class="ml-auto">
                        <div class="btn-group">
                            @if (Context.Session.GetString("UserID") != null)
                            {
                                <!--Hier wird geprüft ob der User ein Admin ist wenn ja, weird der link zum admin Bereich angeschaltet-->
                                @if (Context.Session.GetString("Admin").Equals("True", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a class="nav-link" asp-controller="Admin" asp-action="Admin" type="submit">
                                        <button class="btn btn-outline-admin" type="submit" type="">Admin</button>
                                    </a>
                                }
                                else if (Context.Session.GetString("UserRole").Equals("Seller", StringComparison.OrdinalIgnoreCase))
                                {
                                    <a class="nav-link" asp-controller="Seller" asp-action="Seller">
                                        <button class="btn btn-outline-seller" type="submit">Seller</button>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-controller="Buyer" asp-action="Profile">
                                        <button class="btn btn-outline-buyer" type="submit">Buyer</button>
                                    </a>
                                }
                                <a class="nav-link">
                                    <form method="post" asp-controller="Login" asp-action="Logout">
                                        <button class="btn btn-outline-warning" type="submit">Logout</button>
                                    </form>
                                </a>
                            }
                            else
                            {
                                <a class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Login">
                                        <button class="btn btn-outline-primary" style="">Login</button>
                                    </a>
                                </a>
                                <a class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Registration" asp-action="Registration">
                                        <button class="btn btn-outline-primary">Registrieren</button>
                                    </a>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @{
        string selectBodyContainer = "";
        string currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        string currentAction = ViewContext.RouteData.Values["action"]?.ToString();

        if (currentController == "Login" && currentAction == "Login")
            {
                selectBodyContainer = "roundEdgesLogin";
            }
        else if ((currentController == "Seller" && currentAction == "Seller") ||
        (currentController == "Buyer" && currentAction == "Profile") ||
        (currentController == "Buyer" && currentAction == "UpdateProfile") ||
        (currentController == "Seller" && currentAction == "UpdateProfile"))
            {
                selectBodyContainer = "roundEdgesSmall";
            }
        else
            {
                selectBodyContainer = "roundEdges";
            }
    }

    <div class="@selectBodyContainer">                                                  
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>


    <footer class="footer bg-transparent box-shadow">
        <a href="https://github.com/ElreadRubusErebean/EventManagementSystem" target="_blank" title="Zu unserem GitHub Projekt!">
            <img src="~/images/github-icon.png" style="height: 45px; width: 45px; border-radius: 20px; margin: 0 16px 0 16px;"/>
        </a>
        <button type="button" class="btn btn-outline-primary" style="background: transparent; border-radius: 40px; height: 46px; width: 46px; padding: 0; margin: 0;" title="Unser Styleguide!" onclick="toggleImageContainer()">
            <img src="~/images/styleguide.svg" style="height: 45px; width: 45px; padding: 0; margin: 0;" />
        </button>
    </footer>


    <!-- Bild-Container -->
    <div id="imageContainer" style="display:none; border-color: black; overflow-y: auto;">
        <img id="styleImage" src="~/images/Eventopia.png" alt="Styleguide Image" onclick="toggleZoom()">
        <button type="button" class="btn btn-secondary close-btn" style="border-radius: 20px; background: none; right: 30%; top: 10px;" onclick="toggleImageContainer()">&times;</button>
    </div>

    <script>
        function toggleImageContainer() {
            var container = document.getElementById("imageContainer");
            container.style.display = container.style.display === "none" ? "flex" : "none";
            document.getElementById("styleImage").classList.remove("zoom"); // Zoom zurücksetzen
        }

        function toggleZoom() {
            var img = document.getElementById("styleImage");
            img.classList.toggle("zoom");
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>