<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventManagmentSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Event" asp-action="EventCreate">Event erstellen</a>
                        </li>
                        <li class="nav-item">
                            <!-- Hier wird ein Parameter benötigt, um ein spezifisches Event anzuzeigen -->
                            <a class="nav-link text-light" asp-area="" asp-controller="Event" asp-action="EventOverview" asp-route-id="EVENT_ID">Event-Übersicht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Payment" asp-action="Payment">Payment</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0 d-flex">
                        <input class="form-control mr-2" type="search" placeholder="Suchen.." aria-label="Suche" style="margin-right: 0.5rem !important;">
                        <button class="btn my-2 my-sm-0" id="searchBtn" type="submit">Suchen</button>
                    </form>
                    <div class="btn-group">
                        @if (Context.Session.GetString("UserID") != null)
                        {
                            <!--Hier wird geprüft ob der User ein Admin ist wenn ja, weird der link zum admin Bereich angeschaltet-->
                            @if (Context.Session.GetString("Admin").Equals("True", StringComparison.OrdinalIgnoreCase))
                            {
                                <a class="nav-item">
                                    <a class="nav-link text-dark">
                                        <a asp-controller="Admin" asp-action="Admin" class="btn btn-outline-secondary" type="submit" style="margin-right: -1rem !important;">Admin</a>
                                    </a>
                                </a>
                            }
                            else if (Context.Session.GetString("UserRole").Equals("Seller", StringComparison.OrdinalIgnoreCase))
                            {
                                <a class="nav-item">
                                    <a class="nav-link text-dark">
                                        <a asp-controller="Seller" asp-action="Seller" class="btn btn-outline-secondary" type="submit" style="margin-right: -1rem !important;">Seller</a>
                                    </a>
                                </a>
                            }
                            else
                            {
                                <a class="nav-item">
                                    <a class="nav-link text-dark">
                                        <a asp-controller="Buyer" asp-action="Profile" class="btn btn-outline-secondary" type="submit" style="margin-right: -1rem !important;">Buyer</a>
                                    </a>
                                </a>
                            }
                            <a class="nav-item">
                                <form method="post" asp-controller="Login" asp-action="Logout">
                                    <a class="nav-link text-dark">
                                        <button class="btn btn-outline-warning" type="submit" type="">Logout</button>
                                    </a>
                                </form>
                            </a>
                        }
                        else
                        {
                            <a class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">
                                    <button class="btn btn-outline-primary" style="">Login</button>
                                </a>
                            </a>
                            <a class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="Registration">
                                    <button class="btn btn-outline-primary" style="margin-right: -1rem !important;margin-left: -1rem !important;">Registrieren</button>
                                </a>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="roundEdges">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>