@{
    ViewData["Title"] = "Login";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h3>Start</h3>
<hr class="spacingLine-light" />

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/testDog1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">A</p>
                    <a href="#" class="btn btn-primary float-end">Zum Event</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/testRat.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">A.B</p>
                    <a href="#" class="btn btn-primary float-end">Zum Event</a>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/testCat1.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">B</p>
                    <a href="#" class="btn btn-primary float-end">Zum Event</a>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/testCat2.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">C</p>
                    <a href="#" class="btn btn-primary float-end">Zum Event</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>