
<h3>Registrieren</h3>

<br />

<form>

    <div class="form-group">
        <label for="forname">Vorname</label>
        <input type="text" class="form-control" id="forname" required>
    </div>

    <br />

    <div class="form-group">
        <label for="name">Nachname</label>
        <input type="text" class="form-control" id="name" required>
    </div>

    <br />

    <div class="form-group">
        <label for="forname">E-Mail Adresse</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
        <small id="emailHelp" class="form-text text-muted">Wir werden Ihre E-Mail Adresse niemals an Dritte weitergeben.</small>
    </div>

    <br />

    <div class="form-group">
        <label for="username">Benutzername</label>
        <input type="text" class="form-control" id="username" required>
    </div>

    <br />

    <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" class="form-control" id="password" required>
    </div>

    <br />

    <div class="form-group">
        <label for="password2">Passwort bestätigen</label>
        <input type="password" class="form-control" id="password2" required>
    </div>

    <br />

    <div class="form-group">
        <label for="role">Rolle</label>
        <select class="form-control" id="role" required>
            <option>Käufer</option>
            <option>Verkäufer</option>
        </select>
    </div>

    <br />

    <button id="registrieren" type="submit" class="btn btn-primary">Registrieren</button>

</form>