@model EventManagmentSystem.Models.ViewModel.RegistrationViewModel
<h3>Registrieren</h3>

<hr class="spacingLine-light" />

<form asp-controller="Registration" asp-action="Registration" method="post">

    <div class="form-group">
        <label asp-for="FirstName">Vorname</label>
        <input asp-for="FirstName" type="text" class="form-control" id="forname" required>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="LastName">Nachname</label>
        <input asp-for="LastName" type="text" class="form-control" id="name" required>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="Email">E-Mail Adresse</label>
        <input asp-for="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
        <small id="emailHelp" class="form-text text-muted">Wir werden Ihre E-Mail Adresse niemals an Dritte weitergeben.</small>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="UserName">Benutzername</label>
        <input asp-for="UserName" type="text" class="form-control" id="username" required>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="Password">Passwort</label>
        <input  asp-for="Password" type="password" class="form-control" id="password" required>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="Role">Rolle</label>
        <select asp-for="Role" class="form-control" id="role" required>
            <option value="NormalUser">Käufer</option>
            <option value="Seller">Verkäufer</option>
        </select>
    </div>

    <br />

    <div class="d-flex justify-content-end">
        <button id="registrieren" type="submit" class="btn btn-primary" style="">Registrieren</button>
    </div>

</form>