
<h3>Login</h3>
<hr class="spacingLine-light"/>

<form>
    <div class="form-group">
        <label for="username">Benutzername</label>
        <input type="text" class="form-control" id="username" required>
    </div>

    <br />

    <div class="form-group">
        <label for="password">Passwort</label>
        <input type="password" class="form-control" id="password" required>
    </div>

    <br />

    <button id="login" type="submit" class="btn btn-primary">Einloggen</button>
</form>
