<PageTitle>Adminübersicht</PageTitle>

<h3>Adminübersicht</h3>

<main>
    <button id="changeViewBtn">zu NUTZERN/DATEN wechseln</button>
    <div id="persData" class="form-group">
        <label for="firstName">Vorname:</label>
        <input name="firstName" type="text" class="accDetailInputs" required />
        <label for="lastName">Nachname</label>
        <input name="lastName" type="text" class="accDetailInputs" required />

        <label for="email">E-Mail Adresse:</label>
        <input name="email" type="email" class="accDetailInputs" required />
        <label for="password">Passwort</label>
        <input name="password" type="password" class="accDetailInputs" required />

        <!--
        button ist normalerweise ein ändern btn(alle felder ausgegraut),
        aber wenn ändern geklickt wurde werden felder geabled und button wechslet zum senden btn
        -->
        <br />
        <button id="changeDetailsBtn">PLACEHOLDER</button>
        <button id="deleteAccBtn">Konto löschen</button>
        <button id="logoutBtn">logout</button>
    </div>
    <!--Eventlist-->
    <div id="usersDislay">
        <!--code: foreach User create vvv -->
        <section>
            <div class="form-group">
                <label for="firstName">Vorname:</label>
                <input name="firstName" type="text" class="accDetailInputs" />
                <label for="lastName">Nachname</label>
                <input name="lastName" type="text" class="accDetailInputs" />

                <label for="email">E-Mail Adresse:</label>
                <input name="email" type="email" class="accDetailInputs" />
                <label for="password">Passwort</label>
                <input name="password" type="password" class="accDetailInputs" />

                <button id="deleteUserBtn">Nutzer löschen</button>
            </div>
        </section>
    </div>

    <div id="events">
        <!--code: foreach Event create vvv -->
        <section>
            <p>TITEL</p>
            <p>BESCHREIBUNG</p>
            <p>ORT</p>
            <p>DATUM</p>
            <!--get parentelement by name?-->
            <button id="deleteEventBtn">Event löschen</button>
        </section>
    </div>
</main>