<!--model EventManagmentSystem.Models.ViewModel.AdminViewModel-->
<h3>Adminübersicht</h3>

    <div id="adminViewSwitcher" class="justify-content-evenly">
        <a asp-area="" asp-controller="Admin" asp-action="Admin_EventOverview" class="btn-primary">Eventübersicht</a>
        <a asp-area="" asp-controller="Admin" asp-action="Admin_UserOverview" class="btn-primary">Nutzerübersicht</a>
    </div>

    <h4>mein Konto</h4>

    <section>
        <div id="persData" class="form-group">
            <label for="firstname">Vorname:</label>
            <input name="firstname" type="text" class="accDetailInputs" required readonly/>
            <br/>
            <label for="lastname">Nachname</label>
            <input name="lastname" type="text" class="accDetailInputs" required readonly />
            <br/>
            <label for="email">E-Mail Adresse:</label>
            <input name="email" type="email" class="accDetailInputs" required readonly />
           
            <div id="adminConfigBtns" class="justify-content-evenly">
                <button id="logoutBtn" class="btn-primary">logout</button>
                <button id="changeDetailsBtn" class="btn-primary">edit</button>

                    <form action="@Url.Action()" method="post">
                        <button type="submit" class="btn btn-danger" onclick="">Account Löschen</button>
                    </form>
            </div>
           
        </div>
    </section>