<h3>Mein Konto</h3>

<a asp-area="" asp-controller="Seller" asp-action="Seller_EventOverview" class="btn-primary">Meine Events</a>

<h4>Meine Daten</h4>
    <div id="persData" class="form-group">
            <label for="firstName">Vorname:</label>
            <input name="firstName" type="text" class="accDetailInputs" required/>
            <br />
            <label for="lastName">Nachname</label>
            <input name="lastName" type="text" class="accDetailInputs" required/>
            <br/>
            <label for="email">E-Mail Adresse:</label>
            <input name="email" type="email" class="accDetailInputs" required/>
            <br/>
            <label for="password">Passwort</label>
            <input name="password" type="password" class="accDetailInputs" required/>

            <br/>
            <button id="changeDetailsBtn" class="btn-primary">Daten bearbeiten</button>
            <button id="deleteAccBtn" class="btn-primary">Konto löschen</button>
            <button id="logoutBtn" class="btn-primary">logout</button>
    </div>