

<h3>"Eventüberschrift"</h3>

<hr class="spacingLine-light" />

<div class="form-group">
	<label for="title">Event Titel:</label>
	<input type="text" class="form-control" id="title" required>
</div>

<br />

<div class="form-group">
	<label for="description">Beschreibung:</label>
	<textarea class="form-control" rows="5" id="description" required></textarea>
</div>

<br />

<div class="form-group">
    <label for="date">
        Datum und Uhrzeit auswählen:
        <input type="datetime-local" class="form-control" id="date" required>
    </label>
</div>

<br />

<div class="form-group">
	<label for="title">Tickets verkauft:</label>
	<input type="number" class="form-control" id="numberOfSoldTickets" required>
</div>

<br />

<div class="form-group">
	<label for="title">Tickets verfügbar:</label>
	<input type="number" class="form-control" id="numberOfSoldTickets" required>
</div>

<br />

<button id="changeData" type="submit" class="btn btn-primary">Update</button>
