@model EventManagmentSystem.Models.ViewModel.EventOverview

@{
    ViewData["Title"] = "Event Overview";
}

<h1>Event Overview</h1>

<ul>
    @foreach (var eventItem in Model.ListOfEvents)
    {
        <li>
            <strong>@eventItem.Title</strong> - @eventItem.Date.ToString("dd/MM/yyyy")
            <p>@eventItem.Description</p>
            <p>@eventItem.UserId</p>
        </li>
    }
</ul>
