

<h3>Neues Event erstellen</h3>

<br />

@using (Html.BeginForm("CreateEvent", "Event", FormMethod.Post))
{
    <div class="form-group">
        <label for="title">Event Titel:</label>
        @Html.TextBox("title", null, new{@class= "form-control", required="true", id="title"})
    </div>

    <br />

    <div class="form-group">
        <label for="description">Beschreibung:</label>
        @Html.TextArea("description",null,new{@class="form-control", rows="5", id="description", required="true"})
    </div>

    <br />

    <div class="form-group">
        <label for="date">
            Datum und Uhrzeit auswählen:
            @Html.TextBox("date", null, new{@class="form-control", type="datetime-local", id="date", required="true"})
        </label>
    </div>

    <br />

    <div class="form-group">
        <label for="amountOfTickets">
            Anzahl der Tickets:
            @Html.TextBox("amountOfTickets", 1, new{@class="form-control", type="number", id="amountOfTickets",min="1", step="1", required="true"})
        </label>
    </div>

    <br />

    <button id="createEvent" type="submit" class="btn btn-primary" asp-action="CreateEvent">Event erstellen</button>
}
