
<h3>Übersicht aller Events:</h3>

<hr class="spacingLine-light" />

<table class="table">
    <tr>
        <th>Titel</th>
        <th>Beschreibung</th>
        <th>Ort</th>
        <th>Datum</th>
    </tr>
    <tr>
        <td>Event 1</td>
        <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore </td>
        <td>Dresden</td>
        <td>01.05.2024</td>
    </tr>
    <tr>
        <td>Event 2</td>
        <td>Hier könnte eine Eventbeschreibung stehen</td>
        <td>Dresden</td>
        <td>04.05.2024</td>
    </tr>
    <tr>
        <td>Event 3</td>
        <td>Hier könnte eine Eventbeschreibung stehen</td>
        <td>Dresden</td>
        <td>05.05.2024</td>
    </tr>
    <tr>
        <td>Event 4</td>
        <td>Hier könnte eine Eventbeschreibung stehen</td>
        <td>Dresden</td>
        <td>10.05.2024</td>
    </tr>
</table>