

<PageTitle>Event</PageTitle>

<h3>"Eventüberschrift"</h3>

<label>
	Event Titel:
	<input type="text" id="title" />
</label>

<br />

<label>
	Beschreibung:
	<input type="text" id="description" />
</label>

<br />

<label>
    Datum und Uhrzeit:
    <input type="datetime-local" id="date" />
</label>

<br />

<label>Tickets verkauft:
	<input type="number" id="numberOfSoldTickets" />
</label>

<br />

<label>Tickets verfügbar:
	<input type="number" id="numberOfUnsoldTickets" />
</label>

<br />

<button id="changeData">Update</button>
