@model EventManagmentSystem.Models.ViewModel.UserViewModel;
<div class="profile-header">
    <h4>Benutzerdaten</h4>
    <hr />
    <dl class="row">
        <dt>
            E-Mail
        </dt>
        <dt>
            Firstname
        </dt>
        <dt>
            Lastname
        </dt>
        <dt>
            Username
        </dt>
        <!-- Weitere Benutzerinformationen hier -->
        <dd>
            @Model.Email
        </dd>
        <dd>
            @Model.FirstName
        </dd>
        <dd>
            @Model.LastName
        </dd>
        <dd>
            @Model.UserName
        </dd>
        <!-- Weitere Benutzerinformationen hier Falls wir das Brauchen-->
    </dl>
    
</div>
